/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&family=Shadows+Into+Light&display=swap');



* {
  margin: 0;
  border: 0;
  box-sizing: content-box;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif
}